@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js);
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: 'jf-openhuninn';
  src: url("../font/jf-openhuninn-1.1.ttf") format("truetype");
}

a {
  color: lightblue;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: #ff9800;
}

body {
  font-family: jf-openhuninn;
  background-color: transparent;
  max-width: 1136px;
  margin: auto;
}

body footer {
  margin-top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

body footer .copyrights {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
}

.site__content {
  display: -webkit-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.site__title {
  padding: 8px;
}

.site__title h1 {
  font-size: 1.2em;
  color: #49515d;
}

.site__title h1 > span {
  color: lightblue;
}

.site__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.site__nav a {
  color: #49515d;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.site__nav a:hover {
  background-color: lightblue;
  border-radius: 10px;
  color: white;
}

.page__content {
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 40px 10px #ddd;
          box-shadow: 0px 20px 40px 10px #ddd;
}

.page__header {
  background-image: url("../image/pranay-soni-eZ6UyQVwtLI-unsplash.jpg");
  background-size: cover;
  opacity: 0.7;
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 135px;
}

.page__header__title {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
}

.page__header__title h1 {
  text-align: center;
  margin-top: 0em;
  font-size: 2.5em;
  color: lightblue;
}

.page__header__title h2 {
  font-size: 1em;
  color: lightblue;
  padding: 20px;
}

.page__header__img {
  margin-top: 4em;
  margin-left: 0em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 10px #adadad;
          box-shadow: 0px 5px 10px #adadad;
  padding: 3px;
  background-color: white;
  max-width: 280px;
  max-height: 280px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.page__header__img img {
  width: 100%;
  height: 100%;
}

.page__header__img:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 10px 20px 20px #adadad;
          box-shadow: 10px 20px 20px #adadad;
}

span.icons {
  background-color: lightblue;
  height: 30px;
  width: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

span.icons:hover {
  background-color: #adadad;
  border-radius: 10px;
}

span.icons > img {
  width: 80%;
  height: 80%;
}

span.icons.icon {
  background-color: lightblue;
}

.info {
  padding: 2em;
  font-size: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__aboutme {
  min-width: 375px;
  padding: 2em 2em 0em 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: moccasin;
}

.info__aboutme h1 {
  font-size: 1.2em;
  font-weight: bold;
  color: moccasin;
}

.info__aboutme h1 > span {
  color: lightblue;
}

.info__aboutme p {
  padding-top: 1em;
  line-height: 24px;
  color: moccasin;
}

.info__icon {
  background-color: lightblue;
}

.info__title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0em 1em;
}

.info__title > h1 {
  color: honeydew;
}

.info__half {
  margin: 0em 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 350px;
}

.info__contacts {
  padding: 4em 2em 2em 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info__list li {
  margin: 10px;
  text-align: left;
}

.info__list li .title {
  display: inline-block;
  min-width: 120px;
  color: #a6bad8;
}

.info__list li .value {
  display: inline-block;
  color: #9e9e9e;
}

[class*="iconicfill-"]:before {
  font-family: "jf-openhuninn", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "jf-openhuninn";
  background: #4f3b5b;
  background: radial-gradient(ellipse at center, #4f3b5b 0%, #231733 100%);
}

.wrap {
  width: 300px;
}

input {
  display: block;
  width: 300px;
  padding: 15px 0 15px 12px;
  font-family: "jf-openhuninn";
  font-weight: 400;
  color: #377d6a;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  text-indent: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 13px;
}

input:focus {
  text-indent: 12px;
  -webkit-box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

label {
  display: block;
  position: static;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "jf-openhuninn";
  font-size: 16px;
}

.wrap-label {
  width: 300px;
  height: 34px;
  position: relative;
  padding: 0;
  margin: 0;
  bottom: -15px;
  overflow: hidden;
}

.iconicfill-pen-alt2 {
  position: absolute;
  left: 10px;
  color: #fff;
  font-size: 19px;
  opacity: 1;
  top: -2px;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

/* ==== Pen animation ==== */
.move-pen {
  -webkit-animation: move-pen 1s ease-in infinite alternate;
          animation: move-pen 1s ease-in infinite alternate;
}

@-webkit-keyframes move-pen {
  from {
    -webkit-transform: translateX(-4px) rotate(6deg);
            transform: translateX(-4px) rotate(6deg);
  }
  to {
    -webkit-transform: translateX(4px) rotate(-3deg);
            transform: translateX(4px) rotate(-3deg);
  }
}

@keyframes move-pen {
  from {
    -webkit-transform: translateX(-4px) rotate(6deg);
            transform: translateX(-4px) rotate(6deg);
  }
  to {
    -webkit-transform: translateX(4px) rotate(-3deg);
            transform: translateX(4px) rotate(-3deg);
  }
}
/*# sourceMappingURL=style.css.map */