$themeColor: lightblue;
$titleWordingColor: lightblue;
$textColor: moccasin;
// #2eca7f;



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'jf-openhuninn';
    src: url('../font/jf-openhuninn-1.1.ttf') format('truetype');
}

a {
    color: $themeColor;
    text-decoration: none;
    outline: none;
    transition: all .3s ease-in-out;
    background-color: transparent;
    &:hover {
        text-decoration: none;
        outline: none;
        color: #ff9800;
    }
}

body {
    font-family: jf-openhuninn;
    background-color: transparent;
    max-width: 1136px;
    margin: auto;
    footer{
        margin-top: 4em;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        .copyrights {
            display: block;
            margin-bottom: 12px;
            text-align: center;
            font-size: 12px;
            color: #9e9e9e;
        }
    }
}

.site__content{
    display: -webkit-box;
    justify-content: space-between;
    background-color: white;
}

.site__title {
    padding: 8px;
    h1 {font-size: 1.2em;
        color: #49515d;
        & > span {color: $themeColor;}
    }
}

.site__nav {
    display: flex;
    align-items: flex-end;
    // padding: 2em;
    & a {
        color: #49515d;
        text-decoration: none;
        font-size: 1em;
        transition: all ease .5s;
        &:hover {
            background-color: $themeColor;
            border-radius: 10px;
            color: white;
        }
    }
}

.page__content{
    margin-top: 2em;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 40px 10px #ddd;
    background-color: rgba(90, 90, 90, .8);
}

.page__header{
    background-image: url("../image/pranay-soni-eZ6UyQVwtLI-unsplash.jpg");
    // background-image: url("../image/jack-b-9Rgw6JpiyZ0-unsplash.jpg");
    background-size: cover;
    opacity: 0.7;
    background-color: $themeColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 135px;
    // padding: 4em 4em 0em 4em;
    &__title{
        padding: 0 20px;
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        align-items: center;
        max-width: 60%;
        h1 {
            text-align: center;
            margin-top: 1em;
            font-size: 2.5em;
            color: $titleWordingColor;
        }
        h2{
            font-size: 1em;
            color: $titleWordingColor;
            padding: 20px;
        }
    }
    &__img{
        margin-top: 4em;
        margin-left: 0em;
        justify-content: center;
        box-shadow: 0px 5px 10px #adadad;
        padding: 3px;
        background-color: white;
        max-width: 280px;
        max-height: 280px;
        transition: all ease .5s;
        transform: translateY(20px);
        img {
            width: 100%;
            height: 100%;
        }
        &:hover {
            transform: translateY(10px);
            box-shadow: 10px 20px 20px #adadad;
        }
        &__icon {
            margin: 20px 0;
        }
    }
}

span.icons {
    background-color: $titleWordingColor;
    height: 30px;
    width: 30px;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
    &:hover{
        background-color: #adadad;
        border-radius: 10px;
    }
    & > img{
        width: 80%;
        height: 80%
    }
    &.icon{
        background-color: $themeColor;
    }
}

.info{
    padding: 0em 2em;
    padding-bottom: 2em;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__aboutme{
        min-width: 375px;
        padding: 2em 2em 0em 2em;
        flex: 1;
        color:  $textColor;
        h1 {font-size: 1.2em;
            font-weight: bold;
            color: $textColor;
            & > span {color: $themeColor;}
        }
        p {
            padding-top: 1em;
            line-height: 24px;
            color: $textColor;
        }
    }
    &__icon {
        background-color: $themeColor;
    }

    &__title{
        font-size: 1.5em;
        font-weight: bold;
        padding: 1em 1em 0em 1em;
        & > h1{color: honeydew;}
    }
    &__half{
        margin: 0em 1em;
        flex: 1;
        min-width: 350px;
    }
    &__contacts{
        padding: 4em 2em 2em 2em;
        flex: 1;
        // min-width: 375px;
    }
    &__list{
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: flex;
            align-items: center;
            margin: 10px;
            text-align: left;
            .title{
                display: inline-block;
                min-width: 120px;
                color: #a6bad8;
            }
            .value{
                display: inline-block;
                color: #cccccc;
                justify-content: center;
                padding-left: 1em;
            }
        }
    }
}

.input__items {
    display: flex;
    margin-bottom: 1em;
}

.input__itmes__right {
    border-left: 3px solid $themeColor;
    align-items: center;
    display: flex;
}

.form___border {
    flex: auto;
}

.icon {
    flex: center;
}


.input__level {
    display: felx;
    align-items: center;
    padding-left: 1em;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js);
// /* iconicfill */
[class*="iconicfill-"]:before {
    font-family: "jf-openhuninn", sans-serif;
}

// body,
// html {
//     width: 100%;
//     height: 100%;
// }
// body {
//     font-family: "jf-openhuninn";
//     background: #4f3b5b;
//     background: -moz-radial-gradient(
//     center,
//     ellipse cover,
//     #4f3b5b 0%,
//     #231733 100%
//     );
//     background: -webkit-gradient(
//     radial,
//     center center,
//     0px,
//     center center,
//     100%,
//     color-stop(0%, #4f3b5b),
//     color-stop(100%, #231733)
//     );
//     background: -webkit-radial-gradient(
//     center,
//     ellipse cover,
//     #4f3b5b 0%,
//     #231733 100%
//     );
//     background: -o-radial-gradient(
//     center,
//     ellipse cover,
//     #4f3b5b 0%,
//     #231733 100%
//     );
//     background: -ms-radial-gradient(
//     center,
//     ellipse cover,
//     #4f3b5b 0%,
//     #231733 100%
//     );
//     background: radial-gradient(ellipse at center, #4f3b5b 0%, #231733 100%);
// }

.wrap {
    width: 300px;
}

input {
    display: block;
    width: 100%;
    padding: 10px 0 10px 10px;
    font-family: "jf-openhuninn";
    font-weight: 400;
    color: #377d6a;
    background: hsla(0, 0%, 0%, 0.302);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.302);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
    text-indent: 60px;
    transition: all 0.3s ease-in-out;
    position: relative;
    font-size: 16px;
}
input:focus {
    text-indent: 16px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

textarea {
    display: block;
    width: 100%;
    font-family: "jf-openhuninn";
    padding: 10px;
    font-weight: 400;
    background: hsla(0, 0%, 0%, 0.302);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.302);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
    text-indent: 20px;
    font-size: 16px;
}

label {
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    color: #cccccc;
    font-family: "jf-openhuninn";
    font-size: 16px;
}

.wrap-label {
    width: 300px;
    height: 34px;
    position: relative;
    padding: 0;
    margin: 0;
    bottom: -15px;
    overflow: hidden;
}
