$themeColor: #2eca7f;



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'jf-openhuninn';
    src: url('../font/jf-openhuninn-1.1.ttf') format('truetype');
}

a {
    color: $themeColor;
    text-decoration: none;
    outline: none;
    transition: all .3s ease-in-out;
    background-color: transparent;
    &:hover {
        text-decoration: none;
        outline: none;
        color: #ff9800;
    }
}

body {
    font-family: jf-openhuninn;
    background-color: transparent;
    max-width: 1136px;
    margin: auto;
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        .copyrights {
            display: block;
            margin-bottom: 12px;
            text-align: center;
            font-size: 12px;
            color: #9e9e9e;
        }
    }
}

.site__header{
    height: 100px;

}
.site__content{
    display: flex;
    justify-content: space-between;
}

.site__title {
    padding: 2em;
    h1 {font-size: 1.2em;
        color: #49515d;
        & > span {color: $themeColor;}
    }
}

.site__nav {
    display: flex;
    align-items: flex-end;
    padding: 2em;
    & a {
        color: #49515d;
        text-decoration: none;
        font-size: 1em;
        padding: 10px;
        transition: all ease .5s;
        &:hover {
            background-color: $themeColor;
            border-radius: 10px;
            color: white;
        }
    }
}

.page__content{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 40px 10px #ddd;;
}

.page__header{
    background-color: $themeColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 135px;
    // padding: 4em 4em 0em 4em;
    &__title{
        padding: 20px;
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        align-items: center;
        max-width: 60%;
        h1 {
            margin-top: 0em;
            font-size: 2.5em;
            color: white;
        }
        h2{
            font-size: 1em;
            color: white;
            padding: 20px;
        }
    }
    &__img{
        margin-top: 4em;
        margin-left: 0em;
        justify-content: center;
        box-shadow: 0px 5px 10px #adadad;
        padding: 3px;
        background-color: white;
        max-width: 280px;
        max-height: 280px;
        transition: all ease .5s;
        transform: translateY(20px);
        img {
            width: 100%;
            height: 100%;
        }
        &:hover {
            transform: translateY(10px);
            box-shadow: 10px 20px 20px #adadad;
        }
    }
}

span.icons {
    background-color: white;
    height: 30px;
    width: 30px;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
    &:hover{
        background-color: #adadad;
        border-radius: 10px;
    }
    & > img{
        width: 80%;
        height: 80%
    }
    &.icon{
        background-color: $themeColor;
    }
}

.info{
    padding: 2em;
    font-size: .8em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__aboutme{
        padding: 2em 2em 0em 2em;
        flex: 1;
        color:  #49515d;
        h1 {font-size: 1.2em;
            font-weight: bold;
            color: #49515d;
            & > span {color: $themeColor;}
        }
        p {
            padding-top: 1em;
            line-height: 24px;
        }
    }
    &__icon {
        background-color: $themeColor;
    }

    &__title{
        font-size: 1.5em;
        font-weight: bold;
        padding: 0em 1em;
    }
    &__half{
        margin: 0em 1em;
        flex: 1;
        min-width: 350px;
    }
    &__contacts{
        padding: 4em 2em 2em 0em;
        flex: 1;
        min-width: 375px;
    }
    &__list{
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            margin: 10px;
            text-align: left;
            .title{
                display: inline-block;
                min-width: 120px;
                color: #49515d;
            }
            .value{
                display: inline-block;
                color: #9e9e9e;
            }
        }
    }
}

